/* import google fonts on separate css page */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'JetBrains Mono', monospace;
}

body {
    background-image: url(https://assets.thespinoff.co.nz/1/2018/01/Wiki-background.png);
}
/* positioning */
.start-btn, .rules-box, .quest-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Styling button */
.start-btn button {
    font-size: 30px;
    font-weight: 750;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.rules-box {
    display: none;
    width: 540px;
    background: beige;
    border-radius: 5px;
}

.rules-box .rules-title {
    height: 55px;
    width: 100%;
    border-bottom: 1px solid green;
    display: flex;
    align-items: center;
    padding: 0 40px;
    font-weight: 500;
}

.rules-box .rules-info {
    padding: 20px 45px;
}

.rules-box .rules-info .info{
    margin: 5px 0;
    font-size: 18px;
}

.rules-box .buttons{
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid green
}

.rules-box .buttons button {
    margin: 0 30px;
    height: 40px;
    width: 100px;
    border: 1px solid green;
    border-radius: 5px;
    color:black;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    
}
/* I couldn't put all the classes togther because for some reason it wont work. */
.buttons button.high-scores{
    color: black;
    background: white;
}

.buttons button.high-scores:hover{
    background: green;
}

.buttons button.quit{
    color: black;
    background: white;
}

.buttons button.quit:hover{
    background: green;
}

.buttons button.retry{
    color: black;
    background: white;
}

.buttons button.retry:hover{
    background: green;
}

.quest-box{
    
}



