/* import google fonts on separate css page */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'JetBrains Mono', monospace;
}

body {
    background-image: url(https://assets.thespinoff.co.nz/1/2018/01/Wiki-background.png);
}
/* positioning */
.start_btn, .rules_box, .game_box, .final{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rules_box.activeInfo, .game_box.activeGame{
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1.25);
}

/* Styling rules button */
.start_btn button {
    font-size: 30px;
    font-weight: 750;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.rules_box {
    width: 540px;
    background: beige;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(1.2);
    transition: all 0.3s ease;
}

.rules_box .rules-title {
    height: 55px;
    width: 100%;
    border-bottom: 1px solid green;
    display: flex;
    align-items: center;
    padding: 0 40px;
    font-weight: 500;
}

.rules_box .rules-info {
    padding: 20px 45px;
}

.rules_box .rules-info .info{
    margin: 5px 0;
    font-size: 18px;
}

.rules_box .buttons{
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid green
}

.rules_box .buttons button {
    margin: 0 auto;
    height: 40px;
    width: 100px;
    border: 1px solid green;
    border-radius: 5px;
    color:black;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
}
/* I couldn't put all the classes togther because for some reason it wont work. */
.buttons button.quit{
    color: black;
    background: white;
}

.buttons button.quit:hover{
    background: green;
    color: white;
}

.buttons button.begin{
    color: black;
    background: white;
}

.buttons button.begin:hover{
    background: green;
    color: white;
}
/* Question box */
.game_box {
    width: 550px;
    background: beige;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(1.2);
}
/* header */
.game_box header{
    position: relative;
    z-index: 99;
    height: 65px;
    background: beige;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid green;
}

.game_box header .title{
    font-size: 20px;
    font-weight: 600;
}
/* Timer */
.game_box header .timer{
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid green;
    border-radius: 5px;
    padding: 0 8px;
    justify-content: space-between;
    width: 145px;
    height: 45px;
}

.game_box header .timer .time-text{
    font-weight: 600;
    font-size: 15px;
    user-select: none;
}

.game_box header .timer .time-num{
    font-size: 20px;
    font-weight: 600;
    background: cornflowerblue;
    height: 30px;
    width: 45px;
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid green;
    pointer-events: none;
}
/* Section for answers on quiz and images */
.game_box section{
    padding: 25px 30px 20px 30px;
    background: beige;
}

.game_box section .quest_tex{
    font-size: 25px;
    font-weight: 600;
}

.game_box section .list-choices{
    padding: 20px 0;
    display: block;
}

.game_box section .list-choices .choose{
    background: aliceblue;
    font-size: 17px;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}

.game_box section .list_choices .choose:hover{
    background: cornflowerblue;
    color: white;
    border-color: cornflowerblue;
}

.list_choices .choose:last_child{
    margin-bottom: 0px;
}

.list_choices .choose .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    pointer-events: none;
}

.list_choices .choose .icon.tick{
    color: green;
    border-color: green;
    background: beige;
}

.list_choices .choose .icon.cross{
    color: red;
    border-color: red;
    background: beige;
}
/* footer of question box */
.game_box footer{
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.game_box footer .total span{
    display: flex;
    user-select: none;
}

footer .total span p{
    font-weight: 500;
    padding: 0 5px;
}

footer .total span p:first-child{
    padding-left: 0px;
}

footer .next{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    color: black;
    background: aliceblue;
    border-radius: 5px;
    border: 1px solid cornflowerblue;
    cursor: pointer;
}

footer .next:hover{
    background: cornflowerblue;
    color: white;
    border-color: cornflowerblue;
}
/* Score box */
.final{
    width: 400px;
    background: beige;
    border-radius: 5px;
    padding: 20px 30px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(1.2);
}

.final .icon{
    font-size: 100px;
    color: gold;
    margin-bottom: 10px;
}

.final .final_mess{
    font-size: 20px;
    font-weight: 500;
}

.final .final_text span{
    display: flex;
    margin: 10px 0;
    font-size: 15px;
    font-weight: 500;
}

.final .final_text span p{
    font-weight: 600;
    padding: 0 4px;
}

.final .buttons{
    display: flex;
    margin: 20px 0;
}

.final .buttons button{
    margin: 0 10px;
    height: 40px;
    padding: 0 20px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid green;
    cursor: pointer;
    transition: all 0.3s ease;
    color: black;
}

.final .buttons button.reset{
    color: black;
    background: white;
}

.final .buttons button.reset:hover{
    background: green;
    color: white;
}

.final .buttons button.leave{
    color: black;
    background: white;

}

.final .buttons button.leave:hover{
    background: green;
    color: white;
}
/* Input styling */
input[type=text] {
    margin: 0 auto;
    height: 40px;
    padding: 0 auto;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    border: 0px solid green;
    transition: all 0.3s ease;
    color: black;
    text-align: center;
    justify-content: space-between;
  }
  
  input[type=submit] {
    margin: 0 auto;
    height: 40px;
    padding: 0 20px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid green;
    cursor: pointer;
    transition: all 0.3s ease;
    color: black;
    justify-content: space-between;
  }

  input[type=submit]:hover{
      background: green;
      color: white;
  }

    